.navBar{
background-color: black;
padding: 5px;
}

.nav-item{
    
    
    padding-right: 40px;
}

.businessName{
    color: orange;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}
.nav-value{
    color: white;
    font-size: 14px;
}



.navbar-nav{
    padding-top: 14px;
}
.navDropdownButtonText{
    color: yellow;
}

.footer{
    position:relative;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
}
.footerLabel{
    font-size: 20px;
    padding-top: 10px;
    color: orange;
}

form{
    opacity: 0.93;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    padding: 20px;
    border: 0.5px solid green;
}
input{
    width: 100%;
    border: 1px solid grey;
    
}


.inputHoverEffect1:hover{


}

.button1{
    background-color:green;
    padding:4px;
    font-size: 12px;
    color: white;
    border-radius: 3px;
    text-align: center;
    
  }

.formLabel{
font-size: 20px;
color: green;
font-weight: bold;
text-align: center;
padding-bottom: 10px;

}

.formContainer{
    
    padding: 85px;
    
}

.toastAlert1{
    background-color:green;
    color: white;
    padding-top: 30px;
    
  height: 12%;
  font-size: 15px;
  position:fixed;
  border-radius: 0px 0px 5px 5px;
  top:0%;
  left: 0%;
  right: 0%;
  text-align:center;
  }
  .homepageIforContainer{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
  }

.bgImg{
    background:url("./imgs/lady.jpg") fixed;
  }

  .toastAlert2{
    animation:hide 5s forwards;
    background-color:rgb(255, 0, 0);
    padding-top: 30px;
    color: white;
  height: 12%;
  font-size: 12px;
  position:fixed;
  top:0%;
  left: 0%;
  right: 0%;
  text-align:center;
  }